html {
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
    box-sizing: border-box;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}
.container__header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
header {
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}
.navigation__header {
    display: flex;
    justify-content: space-between;
    max-width: 1798px;
    width: 100%;
}
.header__logo__link {
    padding: 0;
    height: 28px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 61px;
}
.header__logo__img {
    margin: auto;
}
.navigation__link {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}

.contactus__button {
    padding: 13px 9px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #000;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background: #457fb5;
}
.button__hover:hover{
    background-color: #302C34;
    color: #fff;
    transition: 500ms;
    border-radius: 30px;
}